.commonMultiform {
  > .commonMultiformGoBackButtonWrapper {
    position: absolute;
    top: 6px;
    left: 12px;

    @media screen and (max-width: 700px) {
      width: 400px;
      border: none;
    }
  }
}
